# Files
.env
package.json.deno
tsconfig.json
npm-up.sh
furi.yaml
*.log

# Folders
.vscode/
benchmark/
build/
dist/
docs/
furi-examples/update.sh
http-client/
node_modules/
npm-package/
sandbox/
server.ts
tools/

# Deno
deno.lock
