# Files
.env
*.log
app.ts
cert.pem
furi.yaml
key.pem
npm-up.sh
package.json.deno
tsconfig.json
package.json.original
tsconfig.json.original
pub-npm.sh

# Folders
.vscode/
benchmark/
build/
dist/
docs/
furi-examples/update.sh
http-client/
node_modules/
npm-package/
sandbox/
server.ts
ssl/
tools/
typescript-build/

# Deno
deno.lock
